[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body a:hover {
  text-decoration: none;
}
.italic {
  font-style: italic;
}
.source {
  display: block;
  color: #656565;
}
.lead {
  font-size: 21px;
}
.lead .add-bottom-margin {
  margin-bottom: 30px;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  color: #d2ac2b;
}
#loader {
  text-align: center;
  height: 285px;
  margin-top: 85px;
}
.browsehappy {
  margin: 0;
  background: #ccc;
  color: #000;
  padding: 0.4em;
}
.browsehappy a:hover {
  text-decoration: underline;
}
.btn-default {
  color: #002366;
  border: 2px solid #002366;
  background-color: #f2f2f2;
}
.btn-default:hover {
  background-color: white;
  border: 2px solid #002366;
  color: #002366;
}
.btn-event {
  padding: 20px 5px;
  margin-bottom: 10px;
  font-size: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-lg {
  font-size: 1.5em;
}
.btn-golden {
  background-color: rgba(210, 172, 43, 0.7);
  color: #002366;
  border: 2px solid #002366;
}
.btn-golden:hover {
  background-color: rgba(210, 172, 43, 0.7);
  opacity: 0.9;
  color: #002366;
  border: 2px solid #002366;
}
.row-mssray {
  text-align: center;
  margin-top: 20px;
}
.row-mssray .img-mssray {
  width: 50%;
  padding: 25px;
}
/* Glyph, by Harry Roberts */
hr.poem {
  padding: 0;
  border: none;
  width: 15%;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr.poem:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
#canvas-reel {
  display: block;
  position: relative;
  height: 350px;
  border: 10px solid;
  border-color: #777 #999 #666 #999;
  background: #d2ac2b;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
#canvas-reel #roulette-loader-text {
  position: absolute;
  top: 130px;
  z-index: 999;
  color: #000;
  font-size: 2em;
  width: 100%;
  text-align: center;
}
#canvas-reel canvas {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  z-index: 1;
}
#canvas-reel .winning-line {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: red;
  z-index: 2;
  text-align: center;
  top: 170px;
}
.won {
  animation: casino 6s;
  -moz-animation: casino 6s;
  -webkit-animation: casino 6s;
  -ms-animation: casino 6s;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 110px;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  background-image: url('../img/gradient.png');
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  -webkit-perspective: 1000;
}
.top-shadow {
  top: 0;
}
.bottom-shadow {
  top: 220px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@keyframes casino {
  0% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  15% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
  30% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  45% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
  60% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  75% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
  90% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  100% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
}
@-moz-keyframes casino {
  0% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  15% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
  30% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  45% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
  60% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  75% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
  90% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  100% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
}
@-webkit-keyframes casino {
  0% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  15% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
  30% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  45% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
  60% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  75% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
  90% {
    background: #d2ac2b;
    border-color: rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b;
  }
  100% {
    background: red;
    border-color: #d2ac2b rgba(210, 172, 43, 0.7) #d2ac2b rgba(210, 172, 43, 0.7);
  }
}
.modal-dialog {
  width: 90%;
  margin: 0 auto;
}
.modal-dialog .modal-content {
  border-top: 7px solid;
  border-color: #002366;
}
.modal-dialog .modal-header {
  padding: 15px 15px 7px 15px;
  border-bottom: 4px solid #002366;
}
.modal-dialog .modal-body p {
  font-size: 1.5em;
}
.modal-dialog .modal-body img {
  width: 100%;
}
.modal-dialog .modal-body .button-stable {
  padding: 6px 12px;
  color: #333;
  border-color: #ccc;
  background-color: #fff;
  border: 1px solid;
  border-radius: 4px;
}
.modal-dialog .modal-body .button-stable:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
.modal-dialog .modal-body .scroll-img {
  display: block;
  width: 100%;
}
.modal-dialog .modal-body .scroll-img img {
  width: 100%;
}
.modal-dialog .modal-body ul lh {
  font-weight: bold;
}
.modal-dialog .modal-body ul li:last-child {
  margin-bottom: 20px;
}
.header {
  margin: 0 0 30px 0;
  border-top: 7px solid #002366;
  border-bottom: 4px solid #002366;
  padding: 0 15px;
}
.header .navbar {
  background-color: white;
  margin-bottom: 0;
  border: 0;
}
.header .navbar-header .navbar-brand {
  padding-top: 0;
  height: 75px;
  margin-top: -6px;
}
.header .navbar-header .navbar-brand img {
  height: 75px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .modal-dialog .modal-body p .scroll-img img {
    width: 50%;
    float: left;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .row-mssray {
    text-align: center;
    margin-top: 20px;
  }
  .row-mssray .img-mssray {
    width: 100%;
    padding: 25px;
  }
}
.sprite {
  background: url('../img/sprite@2x.png') no-repeat top left;
  background-size: 64px 730px;
  width: 64px;
  height: 64px;
  margin: 7px 0;
  line-height: normal;
  display: inline;
  float: left;
}
.sprite-btn {
  height: 102px;
  line-height: 80px;
  color: #000;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sprite-btn:hover {
  color: #000;
}
.sprite-row h3 {
  line-height: 40px;
}
.sprite.elamyksia-loytamaan {
  background-position: 0 0;
}
.sprite.elamysruletti {
  background-position: 0 -74px;
}
.sprite.harjoita-mielen-tasapainoa {
  background-position: 0 -148px;
}
.sprite.ilmaise-itseasi {
  background-position: 0 -222px;
}
.sprite.innostu-aivotreenista {
  background-position: 0 -296px;
}
.sprite.kaaos-kuriin {
  background-position: 0 -370px;
}
.sprite.kokemuksia-ja-vinkkeja {
  background-position: 0 -444px;
}
.sprite.koti-kuntoon {
  background-position: 0 -518px;
}
.sprite.liiketta-niveliin {
  background-position: 0 -592px;
}
.sprite.ravinnolla-terveytta {
  background-position: 0 -666px;
}
