//main: main.less

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    .modal-dialog .modal-body p{
        .scroll-img{
            img{
                width: 50%;
                float: left;
                padding-bottom: 20px;
            }
        }
    }
}
