<button class="btn btn-default btn-lg" ng-click="back()">Takaisin</button>
<div class="row sprite-row">
  <i class="sprite" ng-class="categoryId"></i>
  <h3>{{eventsName}}</h3>
</div>
<p class="lead" ng-bind-html="eventsLead"></p>

<div class="row" ng-hide="hasSubcategories">
    <div class="col-md-6" ng-repeat="event in events">
        <a ng-if="!event.skipModalTo" href="">
            <button  class="btn btn-event btn-default btn-block btn-lg" ng-click="openModal(event)">{{event.name}}</button>
        </a>
        <a ng-if="event.skipModalTo" href="">
            <button class="btn btn-event btn-default btn-block btn-lg" ng-click="openUrl(event.skipModalTo)">{{event.name}}</button>
        </a>

    </div>
</div>

<div class="row" ng-show="hasSubcategories">
    <div class="col-md-6" ng-repeat="subcategory in subcategories">
        <a href="">
            <button class="btn btn-event btn-default btn-block btn-lg" ng-click="selectSubCategory(subcategory)">{{subcategory.name}}</button>
        </a>

    </div>
</div>

<div id="loader" class="ng-hide" ng-show="req.$$state.pending">
    <img class="ajax-loader"
         width="200"
         height="200"
         src="img/spinner.gif" />
</div>
