
    <p ng-init="getStaticContent()" class="lead">Valitse aiheista mieluisaa tekemistä</p>

    <div class="row" ng-repeat="mainCategories in splitMainCategories">
        <div class="col-md-4" ng-repeat="mainCategory in mainCategories">
            <a ng-href="#/category/{{mainCategory.id}}">
                <button class="btn btn-default btn-block btn-lg sprite-btn">
                  <i class="sprite" ng-class="mainCategory.id"></i>
                  <span>{{mainCategory.name}}</span>
                </button>
            </a>

        </div>
    </div>

    <div id="loader" class="ng-hide" ng-show="req.$$state.pending">
        <img class="ajax-loader"
             width="200"
             height="200"
             src="img/spinner.gif" />
    </div>

    <hr/>
    <div class="row">
        <div class="col-md-4">
            <a href="#/ruletti">
                <button class="btn btn-roulette btn-block btn-lg sprite-btn">
                  <i class="sprite elamysruletti"></i>
                  <span>Elämysruletti</span>
                </button>
            </a>
        </div>
    </div>
