
    <p ng-init="getStaticContent()" class="lead">Valitse aiheista mieluisaa tekemistä</p>

    <div class="row" ng-repeat="mainCategories in splitMainCategories">
        <div class="col-md-4" ng-repeat="mainCategory in mainCategories">
            <a ng-href="{{mainCategory.link}}">
                <button
                class="btn btn-block btn-default btn-lg sprite-btn"
                ng-class="{'btn-golden': mainCategory.name == 'Innostu aivotreenistä' || mainCategory.name == 'Elämysruletti'}">
                  <i class="sprite" ng-class="mainCategory.id"></i>
                  <span>{{mainCategory.name}}</span>
                </button>
            </a>

        </div>
    </div>

    <div id="loader" class="ng-hide" ng-show="req.$$state.pending">
        <img class="ajax-loader"
             width="200"
             height="200"
             src="img/spinner.gif" />
    </div>
